In [2]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from pathlib import Path
data_folder = Path('C:/Users/langzx/Desktop/github/myleetcode/project/datasets')

In [3]:
# Import imputer module
from sklearn.impute import SimpleImputer

In [6]:
loan_data = pd.read_csv(data_folder/'loan_data.csv')

In [8]:
print(loan_data.isna().sum())

Current Loan Amount             0
Credit Score                    0
Years in current job            0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

In [10]:
# Subset numeric features: numeric_cols
numeric_cols = loan_data.select_dtypes(include=[np.number])

- To select all numeric types, use np.number or 'number'

- To select strings you must use the object dtype, but note that this will return all object dtype columns

- See the numpy dtype hierarchy

- To select datetimes, use np.datetime64, 'datetime' or 'datetime64'

- To select timedeltas, use np.timedelta64, 'timedelta' or 'timedelta64'

- To select Pandas categorical dtypes, use 'category'

- To select Pandas datetimetz dtypes, use 'datetimetz' (new in 0.20.0) or 'datetime64[ns, tz]'

In [12]:
numeric_cols

,Current Loan Amount,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,12232.0,728.0,1.0,46643.0,777.39,18.0,10.000000,12.0,0.0,6762.0,7946.0,0.0,0.0
1,25014.0,733.0,10.0,81099.0,892.09,26.7,34.930232,14.0,0.0,35706.0,77961.0,0.0,0.0
2,16117.0,724.0,9.0,60438.0,1244.02,16.7,32.000000,11.0,1.0,11275.0,14815.0,1.0,0.0
3,11716.0,740.0,3.0,34171.0,990.94,10.0,37.741130,21.0,0.0,7009.0,43533.0,0.0,0.0
4,9789.0,686.0,10.0,47003.0,503.71,16.7,25.000000,13.0,1.0,16913.0,19553.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88905,10136.0,728.0,10.0,35476.0,567.62,21.2,14.000000,14.0,0.0,15914.0,28265.0,0.0,0.0
88906,29610.0,710.0,10.0,123375.0,2508.63,15.0,16.000000,11.0,0.0,17727.0,32766.0,0.0,0.0
88907,24394.0,746.0,0.5,71148.0,818.20,36.4,9.000000,8.0,0.0,44728.0,53374.0,0.0,0.0
88908,5030.0,722.0,0.5,25424.0,360.17,19.0,7.000000,12.0,0.0,6374.0,18422.0,0.0,0.0
88909,18446.0,718.0,6.0,44066.0,749.13,10.7,37.057534,18.0,1.0,6718.0,21124.0,0.0,1.0

In [14]:
# Impute with mean
imp_mean = SimpleImputer(strategy='mean')
loans_imp_mean = imp_mean.fit_transform(numeric_cols)

In [16]:

# Convert returned array to DataFrame
loans_imp_meanDF = pd.DataFrame(loans_imp_mean, columns=numeric_cols.columns)

pct_change() calculates the change between now and the last value, and cumcum() adds it all together.